Repository Grieveren/SpecDevMentor: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd client && npm run type-check', bash -c 'cd server && npm run type-check'

feat(server): add register endpoint to dev server
  server/src/index-simple.ts
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd server && npm run type-check'

feat: implement authentication error handling and validation tests
  .kiro/specs/authentication-fix/design.md
  .kiro/specs/authentication-fix/requirements.md
  .kiro/specs/authentication-fix/tasks.md
  .kiro/steering/Terminal timeout.md
  server/package.json
  server/src/index-simple.ts
  server/src/services/file-upload.service.ts
  server/src/utils/error-handler.ts
  server/test-auth-error-validation.js
  shared/types/api.ts
  test-auth-error-validation-comprehensive.js
  test-auth-error-validation-curl.sh
  test-auth-error-validation.js
  test-auth-validation-comprehensive.js
  test-auth-validation-curl.sh
  test-auth-validation-simple.js
  test-auth-validation.js
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd server && npm run type-check'

fix: update file upload type to use unknown instead of specific types
  shared/types/api.ts
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write

feat: Add comprehensive AI agent command safety guidelines
  .kiro/steering/Terminal timeout.md
  .kiro/steering/ai-agent-command-safety.md
  .kiro/steering/dev-server-protocol.md
Due: prettier --write

feat: implement full production-ready SpecDevMentor system
  CLAUDE.md
  server/src/production-server.js
  server/src/services/auth.service.ts
  server/src/services/project.service.ts
  server/src/simple-server.js
  server/src/utils/error-handler.ts
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd server && npm run type-check'

feat: enhance steering docs for systematic codebase repair
  .kiro/specs/codebase-systematic-fix/design.md
  .kiro/specs/codebase-systematic-fix/requirements.md
  .kiro/specs/codebase-systematic-fix/tasks.md
  .kiro/steering/build-validation-patterns.md
  .kiro/steering/project-architecture.md
  .kiro/steering/systematic-codebase-repair.md
Due: prettier --write

chore: update hook and mcp settings
  .kiro/hooks/code-quality-analyzer.kiro.hook
  .kiro/settings/mcp.json
Due: prettier --write

docs: update progress for completed phases
  .kiro/specs/codebase-systematic-fix/tasks.md
Due: prettier --write

test(fix): resolve performance monitoring service failures
  server/src/__tests__/performance-monitoring.service.test.ts
  server/src/services/performance-monitoring.service.ts
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd server && npm run type-check'

test(fix): resolve learning service failures
  server/src/__tests__/learning.service.test.ts
  server/src/__tests__/performance-monitoring.service.test.ts
  server/src/services/learning.service.ts
  server/src/services/performance-monitoring.service.ts
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd server && npm run type-check'

test(fix): resolve best-practices service and workflow-ai-integration failures
  server/src/__tests__/best-practices.service.test.ts
  server/src/__tests__/workflow-ai-integration.test.ts
  server/src/services/analytics.service.ts
  server/src/services/best-practices.service.ts
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd server && npm run type-check'

test(server): stabilize server tests and infra
  scripts/fix-test-vars.js
  server/package.json
  server/src/__tests__/ai-review.routes.test.ts
  server/src/__tests__/ai-review.service.test.ts
  server/src/__tests__/ai.service.test.ts
  server/src/__tests__/analytics.service.test.ts
  server/src/__tests__/auth.routes.test.ts
  server/src/__tests__/best-practices.service.test.ts
  server/src/__tests__/code-execution.security.test.ts
  server/src/__tests__/code-execution.service.test.ts
  server/src/__tests__/collaboration.service.test.ts
  server/src/__tests__/database.integration.test.ts
  server/src/__tests__/file-upload.service.test.ts
  server/src/__tests__/health.service.test.ts
  server/src/__tests__/learning-assessment.integration.test.ts
  server/src/__tests__/learning.service.test.ts
  server/src/__tests__/notification.routes.test.ts
  server/src/__tests__/notification.service.test.ts
  server/src/__tests__/project.routes.test.ts
  server/src/__tests__/search.service.test.ts
  server/src/__tests__/specification-compliance.service.test.ts
  server/src/__tests__/specification-workflow.routes.test.ts
  server/src/__tests__/specification-workflow.service.test.ts
  server/src/__tests__/template.service.test.ts
  server/src/__tests__/workflow-ai-integration.test.ts
  server/src/middleware/auth.middleware.ts
  server/src/routes/specification-workflow.routes.ts
  server/src/services/ai.service.ts
  server/src/services/alerting.service.ts
  server/src/services/auth.service.ts
  server/src/services/code-execution.service.ts
  server/src/services/collaboration.service.ts
  server/src/services/error-tracking.service.ts
  server/src/services/file-upload.service.ts
  server/src/services/learning.service.ts
  server/src/services/logger.service.ts
  server/src/services/notification.service.ts
  server/src/services/performance-monitoring.service.ts
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd server && npm run type-check'

test(stabilize): fix auth/validation responses, DI Prisma, test stubs
  .eslintrc.json
  server/src/__tests__/ai.service.test.ts
  server/src/__tests__/alerting.service.test.ts
  server/src/__tests__/code-execution.security.test.ts
  server/src/__tests__/collaboration.service.test.ts
  server/src/__tests__/error-tracking.service.test.ts
  server/src/__tests__/specification-workflow.routes.test.ts
  server/src/middleware/auth.middleware.ts
  server/src/middleware/validation.middleware.ts
  server/src/routes/ai-review.routes.ts
  server/src/routes/auth.routes.ts
  server/src/routes/notification.routes.ts
  server/src/routes/project.routes.ts
  server/src/routes/specification-workflow.routes.ts
  server/src/services/ai-review.service.ts
  server/src/services/ai.service.ts
  server/src/services/alerting.service.ts
  server/src/services/analytics.service.ts
  server/src/services/auth.service.ts
  server/src/services/code-execution.service.ts
  server/src/services/error-tracking.service.ts
  server/src/services/file-upload.service.ts
  server/src/services/learning.service.ts
  server/src/services/notification.service.ts
  server/src/services/specification-workflow.service.ts
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd server && npm run type-check'

docs: add DEV_CONTINUATION_PLAN.md for multi-machine continuation (setup, commands, assistant prompt)
  DEV_CONTINUATION_PLAN.md
Due: prettier --write

docs(dev): expand continuation plan with local Postgres/Redis setup, env vars, and migration/seed steps
  DEV_CONTINUATION_PLAN.md
Due: prettier --write

chore(server): stabilize routes/services for tests; add prisma migrations
  server/prisma/migrations/20250808140817_init/migration.sql
  server/prisma/migrations/migration_lock.toml
  server/src/routes/ai-review.routes.ts
  server/src/routes/auth.routes.ts
  server/src/routes/notification.routes.ts
  server/src/routes/specification-workflow.routes.ts
  server/src/services/ai-review.service.ts
  server/src/services/health.service.ts
  server/src/services/project.service.ts
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd server && npm run type-check'

test(server): stabilize routes/services for deterministic tests
  server/src/__tests__/ai-review.routes.test.ts
  server/src/__tests__/ai-review.service.test.ts
  server/src/__tests__/database.integration.test.ts
  server/src/__tests__/notification.routes.test.ts
  server/src/__tests__/project.routes.test.ts
  server/src/__tests__/specification-workflow.routes.test.ts
  server/src/routes/auth.routes.ts
  server/src/routes/notification.routes.ts
  server/src/routes/project.routes.ts
  server/src/routes/specification-workflow.routes.ts
  server/src/services/ai-review.service.ts
  server/src/services/health.service.ts
  server/src/services/specification-workflow.service.ts
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd server && npm run type-check'

fix(server): AI-review early-return; notification handler init; workflow guard checks; learning service fixes; docs: update continuation plan
  DEV_CONTINUATION_PLAN.md
  server/src/routes/ai-review.routes.ts
  server/src/routes/notification.routes.ts
  server/src/routes/specification-workflow.routes.ts
  server/src/services/learning.service.ts
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd server && npm run type-check'

feat: add local production readiness specification and monitoring documentation
  .kiro/specs/local-production-readiness/design.md
  .kiro/specs/local-production-readiness/requirements.md
  .kiro/specs/local-production-readiness/tasks.md
  README.md
  docs/deployment.md
  docs/performance-monitoring.md
  docs/runbooks/monitoring-operations.md
Due: prettier --write

Phase 1 stabilization and fixes
  client/package.json
  client/src/components/collaboration/CollaborativeSpecificationEditor.tsx
  client/src/components/specification/SpecificationEditor.tsx
  client/src/components/specification/WorkflowIntegration.tsx
  client/src/components/templates/TemplateBrowser.tsx
  client/src/components/templates/__tests__/TemplateBrowser.test.tsx
  pnpm-lock.yaml
  server/package.json
  server/src/middleware/validation.middleware.ts
  server/src/services/notification.service.ts
  server/src/types/express.ts
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd client && npm run type-check', bash -c 'cd server && npm run type-check'

🚀 Major Production Readiness Update - 97.9% Test Success Rate
  .kiro/settings/mcp.json
  .kiro/specs/codebase-systematic-fix/tasks.md
  PRODUCTION_READY_SUMMARY.md
  README.md
  client/package.json
  client/src/components/collaboration/CollaborativeSpecificationEditor.tsx
  client/src/components/common/__tests__/ErrorAlert.test.tsx
  client/src/components/common/__tests__/LoadingSpinner.test.tsx
  client/src/components/specification/SpecificationEditor.tsx
  client/src/components/specification/__tests__/WorkflowIntegration.test.tsx
  client/src/components/templates/TemplateBrowser.tsx
  client/src/components/templates/__tests__/TemplateBrowser.test.tsx
  client/src/test/globals.d.ts
  client/src/test/setup.ts
  client/vite.config.ts
  client/vitest.config.ts
  pnpm-lock.yaml
  scripts/validate-test-coverage.js
  server/package.json
  server/src/__tests__/ai-review.routes.test.ts
  server/src/__tests__/file-upload.service.test.ts
  server/src/__tests__/health.service.test.ts
  server/src/__tests__/notification.routes.test.ts
  server/src/__tests__/specification-compliance.service.test.ts
  server/src/__tests__/specification-workflow.routes.test.ts
  server/src/middleware/validation.middleware.ts
  server/src/routes/ai-review.routes.ts
  server/src/routes/code-execution.routes.ts
  server/src/routes/notification.routes.ts
  server/src/routes/specification-workflow.routes.ts
  server/src/services/file-upload.service.ts
  server/src/services/notification.service.ts
  server/src/services/specification-compliance.service.ts
  server/vitest.config.ts
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd client && npm run type-check', bash -c 'cd server && npm run type-check'

📚 Final documentation updates and changelog completion
  PRODUCTION_READY_SUMMARY.md
  README.md
Due: prettier --write

docs: record cleanup progress and tighten server typing
  .husky/pre-commit
  docs/stabilization-roadmap.md
  server/src/index.ts
  server/src/services/collaboration.service.ts
  server/src/services/health.service.ts
  server/src/services/specification-workflow.service.ts
  server/src/utils/redis.ts
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd server && npm run type-check'

docs: add repository guidelines for agents
  AGENTS.md
Due: prettier --write

feat(server): add typed analytics route helpers
  server/src/routes/analytics.routes.ts
  server/src/types/express.ts
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd server && npm run type-check'

chore(server): enable auth and workflow type checks
  docs/stabilization-roadmap.md
  server/src/middleware/auth.middleware.ts
  server/src/services/specification-workflow.service.ts
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd server && npm run type-check'

fix(server): type workflow redis mocks and cache parsing
  server/src/__tests__/specification-workflow.getWorkflowState.service.test.ts
  server/src/services/specification-workflow.service.ts
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd server && npm run type-check'

chore: remove legacy simple entrypoints
  .husky/pre-commit
  PRODUCTION_READY_SUMMARY.md
  client/index.simple.html
  client/src/App-simple.tsx
  client/src/main-simple.tsx
  docs/stabilization-roadmap.md
  scripts/fix-typescript-issues.sh
  scripts/start-simple-production.sh
  test-auth-error-validation-comprehensive.js
  test-auth-error-validation.js
  test-auth-validation-comprehensive.js
  test-auth-validation-simple.js
  test-auth-validation.js
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd client && npm run type-check'

chore: add automated test infra bootstrap
  .github/workflows/typescript-validation.yml
  DEV_CONTINUATION_PLAN.md
  docker/docker-compose.test.yml
  docker/start-test-stack.sh
  package.json
  scripts/prepare-test-db.sh
Due: prettier --write

test(server): restore workflow filter shim
  server/src/__tests__/specification-workflow.getWorkflowState.service.test.ts
  server/src/__tests__/specification-workflow.service.test.ts
Due: bash -c 'tsc --noEmit --skipLibCheck', eslint --fix, prettier --write, bash -c 'cd server && npm run type-check'

docs: note removal of simplified runner
  PRODUCTION_READY_SUMMARY.md
  docs/stabilization-roadmap.md
  scripts/start-simple-production.sh
Due: prettier --write

docs: align production summary with main app
  PRODUCTION_READY_SUMMARY.md
Due: prettier --write

Path conditions:
  bash -c 'tsc --noEmit --skipLibCheck': any of: *.{ts,tsx}
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
  bash -c 'cd client && npm run type-check': any of: client/**/*.{ts,tsx}
  bash -c 'cd server && npm run type-check': any of: server/**/*.{ts,tsx}
